node_modules
./node_modules
.env
./.env
apps/server/dist
providers/routeProviders/dist
packages/cache/dist
packages/graph/dist
packages/swap-contract-sdk/dist
apps/server/dist
Deserialize_PRD.md
issues.md
./issues.md
